<%- content_for :title, "Entry for " << @blog.created_at.mday.to_s << " " << Date::MONTHNAMES[@blog.created_at.month] << " " << @blog.created_at.year.to_s -%>
<h1> <%= @blog.created_at.mday %> <%= Date::MONTHNAMES[@blog.created_at.month] %> <%= @blog.created_at.year %></h1>
<p><%= markdown(@blog.body) %></p>
<%- if @blog.contains_stats? -%>
<h3>Stats</h3>
<table class="stats">
<tbody>
<%= render :partial=>"stat", :locals=>{ :value=>@blog.weight,          :label=>"Weight",   :units=>"lbs" } -%>
<%= render :partial=>"stat", :locals=>{ :value=>@blog.bodyfat,         :label=>"Body Fat", :units=>"%" } -%>
<%= render :partial=>"stat", :locals=>{ :value=>@blog.chest,           :label=>"Chest",    :units=>"inches" } -%>
<%= render :partial=>"stat", :locals=>{ :value=>@blog.waist,           :label=>"Waist",    :units=>"inches" } -%>
<%= render :partial=>"stat", :locals=>{ :value=>@blog.hips,            :label=>"Hips",     :units=>"inches" } -%>
<%= render :partial=>"stat", :locals=>{ :value=>@blog.calories_eaten,  :label=>"In",       :units=>"calories" } -%>
<%= render :partial=>"stat", :locals=>{ :value=>@blog.calories_burned, :label=>"Out",      :units=>"calories" } -%>
<%= render :partial=>"stat", :locals=>{ :value=>@blog.hours_slept,     :label=>"Sleep",    :units=>"hours" } -%>
</tbody>
</table>
<%- end -%>
<%- if @public_photos.count > 0 -%>
<h3>Photos</h3>
  <%- @public_photos.each do |x| -%>
<div class="full_body_image">
    <%= image_tag formatted_body_photo_path(x, :jpg) -%>
    <h1><%= h x.photo_type.name %></h1>
</div>
  <%- end -%>
<%- end -%>
<br style="clear: both;">
<%= id_comments @blog %>
<%- if current_user.present? -%>
<ul id="admin_links">
<li><%= link_to "Attach Photo", :controller=>'body_photos', :action=>'new', :blog_id=>@blog.id -%></li>
<li><%= link_to "Edit", :controller=>"blogs", :action=>'edit', :id=>@blog_id %></li>
</ul>
<%- end -%>
