<%- content_for('title', 'Visual Dashboard of Progress') -%>
<h1>Visual Dashboard of Progress</h1>
<div id="dashboard_bodycomp">
<table class="stats">
<caption>Body Comp</caption>
<tbody>
<tr>
   <td class="stat_label">Weight:</td>
   <td class="stat_value"><%= image_tag charts_path(:action=>"weight", :format=>"png") %></td>
</tr>
<tr>
   <td class="stat_label">Bodyfat Percent:</td>
   <td class="stat_value"><%= image_tag charts_path(:action=>"bodyfat", :format=>"png") %></td>
</tr>
</tbody>
</table>
</div>

<div id="dashboard_measurement">
<table class="stats">
<caption>Measurements</caption>
<tbody>
<tr>
   <td class="stat_label">Chest:</td>
   <td class="stat_value"><%= image_tag charts_path(:action=>"chest", :format=>"png") %></td>
</tr>
<tr>
   <td class="stat_label">Waist:</td>
   <td class="stat_value"><%= image_tag charts_path(:action=>"waist", :format=>"png") %></td>
</tr>
<tr>
   <td class="stat_label">Hips:</td>
   <td class="stat_value"><%= image_tag charts_path(:action=>"hips", :format=>"png") %></td>
</tr>
</tbody>
</table>
</div>

<div id="dashboard_energy">
<table class="stats">
<caption>Energy</caption>
<tbody>
<tr>
   <td class="stat_label">Calories In:</td>
   <td class="stat_value"><%= image_tag charts_path(:action=>"calories_in", :format=>"png") %></td>
</tr>
<tr>
   <td class="stat_label">Calories Out:</td>
   <td class="stat_value"><%= image_tag charts_path(:action=>"calories_out", :format=>"png") %></td>
</tr>
<tr>
   <td class="stat_label">Caloric Difference:</td>
   <td class="stat_value"><%= image_tag charts_path(:action=>"calories_difference", :format=>"png") %></td>
</tr>
<tr>
   <td class="stat_label">Sleep:</td>
   <td class="stat_value"><%= image_tag charts_path(:action=>"sleep", :format=>"png") %></td>
</tr>
</tbody>
</table>
</div>
<div id="dashboard_special" style="clear:both">
<table class="stats">
<caption>Accomplished</caption>
<tbody>
<tr>
   <td class="stat_label">Ate Primal:</td>
   <td class="stat_value"><%= image_tag charts_path(:action=>"primal", :format=>"png") %></td>
</tr>
</tbody>
</table>
</div>
